@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../public/assets/fonts/HelveticaNeue-MediumExt.woff2') format('woff2'),
      url('../../public/assets/fonts/HelveticaNeue-MediumExt.woff') format('woff'),
      url('../../public/assets/fonts/HelveticaNeue-MediumExt.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chronicle Display Semi';
  src: url('../../public/assets/fonts/ChronicleDisplay-Semi.woff2') format('woff2'),
      url('../../public/assets/fonts/ChronicleDisplay-Semi.woff') format('woff'),
      url('../../public/assets/fonts/ChronicleDisplay-Semi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chronicle Display';
  src: url('../../public/assets/fonts/ChronicleDisplay-Roman.woff2') format('woff2'),
      url('../../public/assets/fonts/ChronicleDisplay-Roman.woff') format('woff'),
      url('../../public/assets/fonts/ChronicleDisplay-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chronicle Display';
  src: url('../../public/assets/fonts/ChronicleDisplay-Black.woff2') format('woff2'),
      url('../../public/assets/fonts/ChronicleDisplay-Black.woff') format('woff'),
      url('../../public/assets/fonts/ChronicleDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Blair ITC';
  src: url('../../public/assets/fonts/BlairITC-Medium.woff2') format('woff2'),
      url('../../public/assets/fonts/BlairITC-Medium.woff') format('woff'),
      url('../../public/assets/fonts/BlairITC-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.slick-arrow.slick-prev.slick-disabled svg,
.slick-arrow.slick-next.slick-disabled svg{
  opacity: 0.25;
}
.slick-slide {
  margin: 0 5px;
}
.slick-list {
  margin: 0px -5px 0px -5px;
}


.text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;


  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.border-animation:hover::before{
  transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
}
.border-animation:hover::after {
  transition: height 0.3s ease-out, width 0.3s ease-out 0.3s;
}
.owl-stage-outer{
  padding-top: 18px;
  padding-bottom: 18px;
}


.border-animation-time::after{
  transition: transform .5s cubic-bezier(0,0,.2,1),-webkit-transform .5s cubic-bezier(0,0,.2,1);
}

.slick-slide > div {
  margin: 0 8px;
}
.slick-list {
  margin: 0 -8px;
}
.tumbline .slick-slide {
  opacity: 0.7;
  border-radius: 4px;
}
.tumbline .slick-slide  img{
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.tumbline .slick-slide.slick-active.slick-current{
  opacity: 1;
}
.tumbline .slick-slide.slick-active.slick-current img{
    border-radius: 4px;
    border: 2px solid #000;
}

.tumbline .slick-prev.slick-disabled,.tumbline .slick-next.slick-disabled {
  opacity: .25;
}
.tumbline .slick-prev:before , .slick-next:before{
  display: none;
}
